/* BEGIN SAMPLE APP STYLES - only useful within sample app */
body {
  margin:1em;
}
/* END SAMPLE APP STYLES */

/* BEGIN IMPORTABLE RETRODRY STYLES - These will be needed in any app using a datonstack */
/*todo prefix all this with datonstack*/
.daton {
  max-width: 90em; 
  margin-bottom: 2em;
}
.daton .daton-banner {
  color: white;
  background-color: gray;
  font-size: 1.2em;
  padding: 1px 0.5em;
}
.daton .daton-banner button {
  margin: 0 1em;
  position: relative;
  top: -2px;
}
.daton-errors {
  color: red;
}
.criteria-block {
  background-color: #ffe;
  border: solid 1px gray;
  padding: 0.4em;
}
fieldset.card.border {
  border-color: blue;
}
legend {
  color: blue;
}
fieldset {
  display: inline-block;
}
fieldset.card.no-border {
  border: none;
  padding: 0;
}
.card-vert {
  display: block;
  margin-top: 0.3em;
}
.card-horz {
  display: inline-block;
}
.card-label {
  display:block;
  font-weight: bold;
  color:silver;
}
.card-value {
  padding: 0 1em;
}
.grid {
  border-collapse: collapse;
}
.grid td {
  margin: 0;
  border: solid silver 1px;
  background-color: #eef;
}
td.card-in-grid {
  background-color: inherit;
  border:none;
}
.inputwrap {
  display: inline-block;
}
.inputwrap.invalid {
  outline: solid red 1px;
  background-color: pink;
}
.inputwrap input {
  width: calc(100% - 1em);
  box-sizing: border-box;
}
.criterion {
  width: 5em;
}
.criterion.number {
  width: 3em;
}

/* END IMPORTABLE RETRODRY STYLES */
